.day-card {
  width: 100%;
  margin: 0;
  height: 14em;
  max-height: 14em;
  background: rgba($offWhite, 0.7);
}

.header {
}

.main {
  position: relative;
  padding: 0.5em;
}

.high-low {
  &:before {
    content: 'High';
    position: absolute;
    top: -0.8em;
    left: 1.8em;
  }

  &:after {
    content: 'Low';
    position: absolute;
    top: -0.8em;
    right: 1.8em;
  }
}

.footer {
  display: flex;
  flex-flow: column;
  padding: 0;
  align-items: center;
}

.description {
}
