$text: #333;
$primary-color: #457b9d;
$secondary-color: #e63946;
$secondary-color-dark: darken($secondary-color, 23%);
$third-color: #a8dadc;
$accent-color: #f1faee;
$accent-dark: darken($accent-color, 23%);
$offWhite: #f8f8f8;
// $link-color: #0067a5;
$link-color: $primary-color;

// $color-primary: $primary-color !default;
$color-primary-dark: darken($primary-color, 33%) !default;
// $color-accent: $secondary-color !default;
// $color-accent-dark: darken($accent-color, 13%) !default;

//-- Sizing
$unit: 0.75rem !default;

// -- Fonts
$font-family-normal: 'Roboto', 'Helvetica', 'Arial', sans-serif !default;
$title-font: small-caps bold 'Roboto';
$font-size: 1.3 * $unit !default;
$font-size-tiny: $unit !default;
$font-size-small: 1.1 * $unit !default;
$font-size-normal: $font-size !default;
$font-size-big: 3.9 * $unit !default;
$font-size-title: 6 * $unit !default;

.common-btn {
  font-family: $font-family-normal;
  background-color: #303030 !important;
  color: $primary-color;
  font-size: 1.4em;
  letter-spacing: 0.12em;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  border-color: #303030;
  border-radius: 5px;
  text-shadow: 2px 1px 0px $accent-dark, -1px -1px 0 $accent-dark,
    0 0 0.9em $accent-dark, 0 0 0.5em $accent-dark, 0 0 0.2em $accent-dark;
  box-shadow: 1px 1px 0px $accent-dark, -1px -1px 0 $accent-dark,
    0 0 1.2em $accent-dark, 0 0 0.5em $accent-dark, 0 0 0.2em $accent-dark;

  &:before {
    content: '';
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $accent-color;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }

  &:hover,
  &:focus,
  &:active {
    border-color: #303030;
    color: $offWhite;
    text-shadow: 1px 1px 0px $secondary-color, -1px -1px 0 $secondary-color,
      0 0 1.2em $secondary-color, 0 0 0.5em $secondary-color,
      0 0 0.2em $secondary-color;
    box-shadow: 1px 1px 0px $secondary-color, -1px -1px 0 $secondary-color,
      0 0 1.2em $secondary-color, 0 0 0.5em $secondary-color,
      0 0 0.2em $secondary-color;
  }

  &:hover:before,
  &:focus:before,
  &:active:before {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}
