.page {
  background: white;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 90vh;
}

.wrapper {
  height: 72%;
  width: 84vw;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: 1.2em;
}

.description {
  width: 72%;
}

.cta {
  display: flex;
  justify-content: space-around;
  margin-top: auto;
  margin-bottom: 2em;
  width: 48%;
}
