.overview {
  position: relative;
  height: 100%;
  width: 100vw;
  overflow: hidden;
}

.backdrop {
  background-image: url('../../public/static/clouds.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.current-weather {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(#000, 0.63);
  width: 27em;
  height: 27em;
  padding: 0.5em 1em;
  display: flex;
  flex-flow: column;

  h1,
  h2,
  h3,
  h4,
  h5,
  span,
  h6 {
    color: $offWhite;
  }
}

.location {
  margin-bottom: 3em;
}

.weatherIcon {
  display: flex;
  width: auto;
  height: auto;

  img {
    margin: auto;
    width: 6em;
  }
}
